<h1  class="text-center">Create New User</h1>
<div class="container text-center mt-4" > 

  <%= render 'form', user: @user %>

  <%= link_to 'Back To Users', users_path ,class: "text-center" %>
</div>
